<!DOCTYPE html>
<html lang="en">

<head>
    <title>Town Branch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/">Cardinal Otunga Plaza</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="/town" class="nav-link">Town</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h5>Branch Info</h5>
    <p> 3rd Floor, Kaunda Street. Tel: +254 -20-4192000/2166304/3/1. Cell: +254 710-607310,733-777771. Email: infocbd@paciskenya.com </p>
</div>
<body>
    
	<nav class="menu">
		<ul>
			<li id="a"><a href="#a">Executive</a>
				<div>
                    {{# each internals }}
					<hr><p>{{ this.fname }} {{ lname }}, {{ this.title }}, Ext: {{ this.extension }} </p>                    
                     {{/each}}
				</div>
			</li>
		</ul>
	</nav>
</body>
 
                                                                                                        
